@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .bg-muted {
    @apply bg-neutral-100;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .h1-auth-mobile {
    @apply text-primary text-3xl font-bold font-poppins leading-10;
  }

  .h1-auth-desktop {
    @apply text-primary text-4xl font-bold font-poppins leading-10;
  }

  .regular-text-mobile {
    @apply text-secondary text-sm font-normal font-inter leading-snug;
  }

  .regular-text-desktop {
    @apply text-secondary text-base font-normal font-inter leading-snug;
  }

  .button-cta-mobile {
    @apply text-accent-purple text-sm font-semibold font-poppins leading-none;
  }

  .button-cta-desktop {
    @apply text-accent-purple text-base font-semibold font-poppins leading-none;
  }

  .form-label-mobile {
    @apply text-form-label text-xs font-normal font-inter uppercase leading-tight;
  }

  .form-label-desktop {
    @apply text-form-label text-sm font-normal font-inter uppercase leading-snug;
  }

  .form-input-mobile {
    @apply text-accent-gray-alt text-sm font-normal font-inter leading-snug;
  }

  .text-cta {
    @apply text-primary text-sm font-normal font-poppins leading-none;
  }

  .shop-header-active {
    @apply text-secondary text-sm font-semibold font-poppins uppercase leading-snug tracking-tight;
  }

  .shop-header-default {
    @apply text-secondary text-sm font-normal font-poppins uppercase leading-snug tracking-tight;
  }

  .h1-hero-desktop {
    @apply flex flex-col text-primary text-start text-7xl font-bold font-poppins leading-[120%] tracking-tighter w-full;
  }

  .h1-hero-tablet {
    @apply flex flex-col text-primary text-start text-5xl font-bold font-poppins leading-[120%] tracking-tighter;
  }

  .h1-hero-mobile {
    @apply flex flex-col text-primary text-center text-4xl font-bold font-poppins leading-[120%] tracking-tighter;
  }

  .subtitle-desktop {
    @apply text-secondary/25 text-start text-base font-normal font-inter leading-[160%];
  }

  .subtitle-tablet {
    @apply text-secondary/25 text-start text-sm font-normal font-inter leading-[150%];
  }

  .subtitle-mobile {
    @apply text-secondary/25 text-center text-xs font-normal font-inter leading-[150%];
  }
}
.scrollbar-sidebar-admin::-webkit-scrollbar {
  width: 9px;
  height: 3px;
  border-radius: 2px;
}

.scrollbar-sidebar-admin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-sidebar-admin::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 50px;
}

.scrollbar-sidebar-admin::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.featured-collections-slider .slick-track {
  display: flex !important;
}

.featured-collections-slider .slick-slide {
  height: inherit !important;
}

.featured-collections-slider .slick-slide > div {
  height: 100%;
}

.carousel-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
