@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
}

.scrollbar-sidebar-admin::-webkit-scrollbar {
  width: 9px;
  height: 3px;
  border-radius: 2px;
}

.scrollbar-sidebar-admin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-sidebar-admin::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 50px;
}

.scrollbar-sidebar-admin::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
